# OSM to PostGIS
In this notebook, we will work out how to convert OSM data into a format suitable for PostGIS.

In [27]:
import geopandas
from sqlalchemy import create_engine

In [28]:
engine = create_engine('postgresql://postgres:password@localhost:5432/')

In [29]:
geodata = geopandas.read_file("data/OSM/gis_osm_waterways_free_1.shp")

In [30]:
geodata.shape

(72367, 6)

In [31]:
geodata.dtypes

osm_id        object
code           int64
fclass        object
width          int64
name          object
geometry    geometry
dtype: object

In [32]:
geodata.set_index("osm_id", inplace=True)

In [33]:
geodata.head()

,code,fclass,width,name,geometry
osm_id,,,,,
4251428,8103,canal,0,Ruoholahdenkanava,"LINESTRING (24.92109 60.16193, 24.92091 60.16190)"
4336744,8101,river,0,Porvoonjoki,"LINESTRING (25.55770 60.93793, 25.55773 60.937..."
4418854,8101,river,0,Kyrönjoki,"LINESTRING (22.53857 62.71738, 22.54884 62.719..."
4418989,8101,river,0,Kyrönjoki,"LINESTRING (22.32451 63.00323, 22.31765 63.005..."
4494437,8101,river,0,Raisionjoki,"LINESTRING (22.18274 60.49412, 22.18253 60.493..."

In [34]:
geodata.to_postgis(
    con=engine,
    name="waterways",
    if_exists="replace"
)